<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 命名空间为绑定接口的全类名 -->
<mapper namespace="com.tdsnzgc.manage_web.pojo.order.mapper.OrderMapper">
    <resultMap id="resultOrderMap" type="com.tdsnzgc.manage_web.pojo.order.Order">
        <id property="order_id" column="ORDER_ID" jdbcType="BIGINT"/>
        <result property="order_price" column="ORDER_PRICE" jdbcType="DECIMAL"/>
        <result property="real_price" column="REAL_PRICE" jdbcType="DECIMAL"/>
        <result property="payment_price" column="PAYMENT_PRICE" jdbcType="DECIMAL"/>
        <result property="payment_type" column="PAYMENT_TYPE" jdbcType="INTEGER"/>
        <result property="payment_status" column="PAYMENT_STATUS" jdbcType="INTEGER"/>
        <result property="order_desc" column="ORDER_DESC" jdbcType="VARCHAR"/>
        <result property="order_goods_unique_ids" column="ORDER_GOODS_UNIQUE_IDS" jdbcType="VARCHAR"/>
        <result property="order_material_unique_ids" column="ORDER_MATERIAL_UNIQUE_IDS" jdbcType="VARCHAR"/>
        <result property="organ_id" column="ORGAN_ID" jdbcType="BIGINT"/>
        <result property="seller_id" column="SELLER_ID" jdbcType="BIGINT"/>
        <result property="seller_name" column="SELLER_NAME" jdbcType="VARCHAR"/>

        <result property="create_time" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="createer_name" column="CREATEER_NAME" jdbcType="VARCHAR"/>
        <result property="update_time" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateer_name" column="UPDATEER_NAME" jdbcType="VARCHAR"/>
        <result property="shipping_methods" column="SHIPPING_METHODS" jdbcType="INTEGER"/>
        <result property="carriage" column="CARRIAGE" jdbcType="DECIMAL"/>
        <result property="chauffeur_id" column="CHAUFFEUR_ID" jdbcType="BIGINT"/>
        <result property="chauffeur_name" column="CHAUFFEUR_NAME" jdbcType="VARCHAR"/>
        <result property="car_type" column="CAR_TYPE" jdbcType="VARCHAR"/>
        <result property="car_type_name" column="CAR_TYPE_NAME" jdbcType="VARCHAR"/>
        <result property="order_time" column="ORDER_TIME" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="queryById" resultMap="resultOrderMap">
        select * from t_orders
        where ORDER_ID = #{id,jdbcType=BIGINT} and ORGAN_ID = #{organ_id,jdbcType=BIGINT}
    </select>

    <select id="queryByPage" resultMap="resultOrderMap" parameterType="Map">
        select *,
        case
            when
                update_time > create_time
            then update_time
            else create_time
            end sortTime
        from t_orders
        <where>
            ORGAN_ID = #{organ_id,jdbcType=BIGINT}
        </where>
        order by sortTime desc
    </select>


    <insert id="insert" parameterType="Map">

        insert into t_orders (
        ORDER_PRICE,
        REAL_PRICE,
        PAYMENT_PRICE,
        PAYMENT_TYPE,
        PAYMENT_STATUS,
        ORDER_DESC,
        ORDER_GOODS_UNIQUE_IDS,
        ORDER_MATERIAL_UNIQUE_IDS,
        ORGAN_ID,
        SELLER_ID,
        SELLER_NAME,
        CREATE_TIME,
        CREATEER_NAME,
        UPDATE_TIME,
        UPDATEER_NAME,
        SHIPPING_METHODS,
        CARRIAGE,
        CHAUFFEUR_ID,
        CHAUFFEUR_NAME,
        CAR_TYPE,
        CAR_TYPE_NAME,
        ORDER_TIME
        ) values
        (
            #{order_price,jdbcType=DECIMAL},
            #{real_price,jdbcType=DECIMAL},
            #{payment_price,jdbcType=DECIMAL},
            #{payment_type,jdbcType=INTEGER},
            #{payment_status,jdbcType=INTEGER},
            #{order_desc,jdbcType=VARCHAR},
            #{order_goods_unique_ids,jdbcType=VARCHAR},
            #{order_material_unique_ids,jdbcType=VARCHAR},
            #{organ_id,jdbcType=BIGINT},
            #{seller_id,jdbcType=BIGINT},
            #{seller_name,jdbcType=VARCHAR},
            now(),
            #{createer_name,jdbcType=VARCHAR},
            null,
            null,
            #{shipping_methods,jdbcType=INTEGER},
            #{carriage,jdbcType=DECIMAL},
            #{chauffeur_id,jdbcType=BIGINT},
            #{chauffeur_name,jdbcType=VARCHAR},
            #{car_type,jdbcType=BIGINT},
            #{car_type_name,jdbcType=VARCHAR},
            #{order_time,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="Map">
        update t_orders
        <set>
            UPDATEER_NAME = #{updateer_name,jdbcType=VARCHAR},
            UPDATE_TIME = now()
        </set>
        where ORDER_ID = #{order_id} and ORGAN_ID = #{organ_id,jdbcType=BIGINT}
    </update>

    <select id="queryReport" resultMap="resultOrderMap" parameterType="Map">
        select
        ORDER_ID,
        ORDER_PRICE,
        REAL_PRICE,
        PAYMENT_PRICE,
        PAYMENT_TYPE,
        PAYMENT_STATUS,
        ORDER_DESC,
        ORDER_GOODS_UNIQUE_IDS,
        ORDER_MATERIAL_UNIQUE_IDS,
        ORGAN_ID,
        SELLER_ID,
        SELLER_NAME,
        CREATE_TIME,
        CREATEER_NAME,
        UPDATE_TIME,
        UPDATEER_NAME,
        SHIPPING_METHODS,
        CARRIAGE,
        CHAUFFEUR_ID,
        CHAUFFEUR_NAME,
        CAR_TYPE,
        CAR_TYPE_NAME,
        ORDER_TIME
        from t_orders
        <where>
            <if test="payment_type != null and payment_type != ''">
                and PAYMENT_TYPE = #{payment_type,jdbcType=INTEGER}
            </if>
            <if test="payment_status != null and payment_status != ''">
                and PAYMENT_STATUS = #{payment_status,jdbcType=INTEGER}
            </if>
            <if test="shipping_methods != null and shipping_methods != ''">
                and SHIPPING_METHODS = #{shipping_methods,jdbcType=INTEGER}
            </if>
            <if test="seller_id != null and seller_id != ''">
                and SELLER_ID = #{seller_id,jdbcType=INTEGER}
            </if>
            <if test="car_type != null and car_type != ''">
                and CAR_TYPE = #{car_type,jdbcType=INTEGER}
            </if>
            <if test="chauffeur_id != null and chauffeur_id != ''">
                and CHAUFFEUR_ID = #{chauffeur_id,jdbcType=BIGINT}
            </if>
            <if test="order_time_begin != null and order_time_begin != ''">
                <![CDATA[ and DATE_FORMAT(ORDER_TIME, '%Y-%m-%d') >= #{order_time_begin, jdbcType=VARCHAR} ]]>
            </if>
            <if test="order_time_end != null and order_time_end != ''">
                <![CDATA[ and DATE_FORMAT(ORDER_TIME, '%Y-%m-%d') <= concat( #{order_time_end, jdbcType=VARCHAR}, ' 23:59:59') ]]>
            </if>
            <if test="create_time_begin != null and create_time_begin != ''">
                <![CDATA[ and DATE_FORMAT(CREATE_TIME, '%Y-%m-%d') >= #{create_time_begin, jdbcType=VARCHAR} ]]>
            </if>
            <if test="create_time_end != null and create_time_end != ''">
                <![CDATA[ and DATE_FORMAT(CREATE_TIME, '%Y-%m-%d') <= concat( #{create_time_end, jdbcType=VARCHAR}, ' 23:59:59') ]]>
            </if>
            and ORGAN_ID = #{organ_id,jdbcType=BIGINT}
        </where>
        order by CREATE_TIME desc
    </select>



</mapper>